.search{
    margin-bottom: 1em;
    text-align: center;
}
.search input{
    background-color: var(--shadow-dark);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: var(--white);
    font-size: 0.8em;
    text-align: center;
}