<div class="search">
  <form #form="ngForm" (submit)="onFormSumit()">
      <input type="text" placeholder="Search city" name="cityName" [(ngModel)]="cityName">
  </form>
</div>
<div class="container">
  <div class="upper-data" *ngIf="weatherDataFromAPI?.main">
    <img src="../assets/Images/HotNew.jpg" *ngIf="weatherDataFromAPI?.main?.temp > 35 ">
    <img src="../assets/Images/Weather-cold.jpg" *ngIf="weatherDataFromAPI?.main.temp <= 35">
    <div class="weatherData">
      <div class="location">{{ weatherDataFromAPI?.name }}</div>
      <div class="temperature"> {{ weatherDataFromAPI?.main?.temp| number : '1.0-0' }}°F </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Images/Min.jpg">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{ weatherDataFromAPI?.main?.temp_min | number : '1.0-0' }}°F
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Images/max.jpg">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{ weatherDataFromAPI?.main?.temp_max | number : '1.0-0' }}°F
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Images/humidity.png">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherDataFromAPI?.main?.humidity }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Images/wind.png">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherDataFromAPI?.wind?.speed | number }} km/hr
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
